@font-face {
  font-family: "Inter";
  src: url("Inter-VariableFont_slnt,wght.ttf");
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body>div {
  max-width: 1000px;
}

a {
  color: black
}

.divider {
  margin: 24px 0;
  border-bottom: 1px solid black;
}